*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header>a:hover{
    color: rgb(255, 69, 0);
}
header>a{
    color: rgb(255, 255, 255);
}
footer>div>a{
    color: white;
    text-decoration: none;
    line-height: 1.6;
    font-size: 16px;
}
footer>div>a:hover{
    color: rgb(255, 69, 0);
}